<div class="row">
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<h2>Value Statement:</h2>
			<P>
                 In support of FDA's mission to protect the public health by assuring the safety, efficacy and security of human and veterinary drugs, biological products, medical devices, our nation's food supply, cosmetics, and products that emit radiation  this site provides information related to trends in medical device safety and information about adverse events and enforcement reports reported by medical device manufacturers.  </P>

                <h2>Data Constraints</h2>
			<P>
               This data  is retrieved directly from FDA using APIs in support of a prototype development demonstration.  The intent of the prototype is to support data visualization techniques to help inform users and decision-makers interested in medical device safety information.   The data refresh cycle of this data is entirely dependent upon reporting from the medical device community.  Because data may change frequently, users are encouraged to bookmark this site and visit it frequently.  
			</P>
		</div>
	</div>
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<H4>Contact Us:</H4>
			<P> <img src="/assets/acelogohead.png"><br>
                      <h2><a href="http://www.aceinfosolutions.com" target="_blank" class="goback"> Ace Info Solutions, Inc.</a></h2>
			GSA ADS I BPA-FDA Prototype Team<BR>
			11490 Commerce Park Dr. Suite #340<br>
			Reston VA 20191<BR>

			<abbr title="Phone">Phone:</abbr> 703-391-2800<BR>
			Fax: 703-391-2833<BR>
		</div>
	</div>
</div>