<div class="row">
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<h2>Value Statement:</h2>
			<P>
			In support of patient care, this site provides trends in medical device safety and information about adverse events and enforcement reports by continually improving our processes, quality, and technology. </P>

			<h2>Dataset Statement:</h2>
			<P>
			The dataset is retrieved directly from FDA provided APIs. Our team makes the depiction of this valuable information more meaningful, easy to understand with modern graphical representation. The data refresh can happen daily, weekly, or monthly on FDA side and this site utilizes the up-to-date data. We have used sub-set of data for this prototype.
			</P>
		</div>
	</div>
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<H4>Contact Us:</H4>
			<P> <img src="/assets/acelogohead.png"><br>
			<strong> Ace Info Solutions, Inc.</strong><BR>
			GSA ADS I BPA-FDA Prototype Team<BR>
			11490 Commerce Park Dr. Suite #340<br>
			Reston VA 20191<BR>

			<abbr title="Phone">Phone:</abbr> 703-391-2800<BR>
			Fax: 703-391-2833<BR>
		</div>
	</div>
</div>