<div class="row">
	<div class="col-12 img-portfolio">
		<div class="contentsbox">
			<h2>Latest Adverse Events &nbsp;<a href="/" class="goback"><< Go back</a></h2>
			<table class="boxer">
				<thead class="box-row">
					<tr>
						<th class="box-Date3">Date</th>
						<th class="box-Manufac3">Manufacturer</th>
						<th class="box-Device3">Device</th>
						<th class="box-Event3">Event</th>
					</tr>
				</thead>
				<tbody>
				<% @advEvents.each_with_index do |result, index| %>
					<tr>
						<td class="box-Date3"><%= format_datestr(result["date_of_event"]) %></td>
						<td class="box-Manufac3"><%= result["manufacturer_name"].titleize %></td>
						<td class="box-Device3"><%= result["device"][0]["generic_name"].titleize %></td>
						<td class="box-Event3"><%= result["event_type"] %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<h2><a href="/enforcements/adveventsdetails" class="goback">^ TOP</a></h2>
		</div>
	</div>
</div>
<!-- .row -->