<div class="row">
	<div class="col-lg-12">
		<h2>Adverse Events Report by Manufacturer</h2>
		<form role="form" class="form-inline">
			<div class="form-group">
				<%= select_tag "startYear", options_for_select(YEAR_LIST, :selected=>params[:startYear]), {:onchange => "this.form.submit();", :prompt => "Select year" } %>
			</div>
			<div class="form-group">
				<%= select_tag "mfr", options_for_select(MFR_LIST, :selected=>params[:mfr]), {:onchange => "this.form.submit();", :prompt => "Select Manufacturer", :style => "max-width:80%" } %>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<center><h3>Device Types (Top 25)</h3></center>
			<%= pie_chart "/enforcements/reports?type=advbymfr&startYear=" + @startYear+ "&mfr=" + @mfr, {discrete: true, enableClick: true, library: {chartArea:{left:0,top:10,width:"100%"}}} %>
		</div>
	</div>
	<div class="col-md-6 img-portfolio">
		<center><h3>Severity of Adverse Events</h3></center>
		<div id="chart_device" class="contentsbox">
			<%= pie_chart "/enforcements/reports?type=advbytype&startYear=" + @startYear+ "&mfr=" + @mfr + "&deviceType=" + @deviceType, {discrete: true, library: {chartArea:{left:0,top:10,width:"100%"}}} %>
		</div>
	</div>
</div>
