<% content_for :for_head do %>
<script>
function DropDown(el) {
	this.dd = el;
	this.placeholder = this.dd.children('span');
	this.opts = this.dd.find('ul.dropdown > li');
	this.val = '';
	this.index = -1;
	this.initEvents();
}

DropDown.prototype = {
	initEvents : function() {
		var obj = this;

		obj.dd.on('click', function(event){
			$(this).toggleClass('active');
			return false;
		});

		obj.opts.on('click',function(){
			var opt = $(this);
			obj.val = opt.text();
			obj.index = opt.index();
			obj.placeholder.text(obj.val);
		});
	},
	getValue : function() {
		return this.val;
	},
	getIndex : function() {
		return this.index;
	}
}

$(function() {
	var dd = new DropDown( $('#dd') );
	$(document).click(function() {
		// all dropdowns
		$('.wrapper-dropdown-3').removeClass('active');
	});
});

</script>
<% end %>

<main class="content">
	<div class="slider">
		<ul class="slides">
			<li>
				<div class="container">                     
					<div class="slide-caption">
						
						<small class="slide-subtitle">Adverse Events & Enforcement Reports for Medical Devices</small>

						<div class="slide-summary">
							
						</div>
					</div>
				</div>
			</li>
		</ul> <!-- .slides -->
	</div> <!-- .slider -->

	
	<div class="fullwidth-block about-section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow fadeInUp">
					<h2>Adverse Event and Enforcement reports by Device type and Year</h2>
					  
						  <select id="first-disabled" class="selectpicker" data-hide-disabled="true" data-live-search="true">
							<optgroup disabled="disabled" label="disabled">
							  <option>Hidden</option>
							</optgroup>
							<optgroup label="1990-">
							  <option>Select Year</option>
							  <option>1990</option>
							  <option>1991</option>
							  <option>1992</option>
							  <option>1993</option>
							  <option>1994</option>
							</optgroup>
							<optgroup label="2000-">
							  <option>2000</option>
							  <option>2001</option>
							  <option>2002</option>
							  <option>2003</option>
							</optgroup>
						  </select>
						  
						  <select id="first-disabled" class="selectpicker" data-hide-disabled="true" data-live-search="true">
							<optgroup disabled="disabled" label="disabled">
							  <option>Hidden</option>
							</optgroup>
							<optgroup label="1990-">
							  <option>Select Year</option>
							  <option>1990</option>
							  <option>1991</option>
							  <option>1992</option>
							  <option>1993</option>
							  <option>1994</option>
							</optgroup>
							<optgroup label="2000-">
							  <option>2000</option>
							  <option>2001</option>
							  <option>2002</option>
							  <option>2003</option>
							</optgroup>
						  </select>
							<select class="selectpicker" id="first-disabled"  data-hide-disabled="true" data-live-search="true">
								<optgroup label="1990-">
									<option>Device Type</option>
									<option>1990</option>
									<option>1991</option>
									<option>1992</option>
									<option>1993</option>
									<option>1994</option>
								</optgroup>
								<optgroup label="2000-">
									<option>2000</option>
									<option>2001</option>
									<option>2002</option>
									<option>2003</option>
								</optgroup>
							</select>
							<br>
						   <br>
							
							<%= column_chart @tempData, stacked: true %>
				</div>

		


			</div> <!-- .row -->

		</div> <!-- .container -->
	</div> <!-- .fullwidth-block -->
</main> <!-- .content -->