<div class="row">
	<div class="col-lg-12">
		<h2>Adverse Events and Enforcement reports by Device type and Year</h2>
		<form role="form" class="form-inline">
			<div class="form-group">
				<%= select_tag "deviceType", options_for_select($deviceList, :selected=>params[:deviceType]), {:onchange => "this.form.submit();", :prompt => "Select Device", :class => "col-md-6" }%>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-12 img-portfolio">
		<div class="contentsbox">
			<%= column_chart @tempData, stacked: true %>
		</div>
	</div>
</div>