<div class="row">
	<div class="col-lg-12">
	   <h2>Highest Number of Enforcement Reports by Manufacturer for the Current Year(2015)</h2>
	</div>
	<div class="row">
		<div class="col-md-6 img-portfolio">
			<div class="contentsbox">
				<table class="boxer">
					<thead  class="box-row">
						<tr>
							<th class="box-Manufac2">Manufacturers</th>
							<th class="box-Date">Total</th>
						</tr>
					</thead>
					<tbody class="box-row1">
					<% @enfEvents.each_with_index do |result, index| %>
						<tr>
							<td class="box-Manufac2"><%= result["term"] %></td>
							<td class="box-Date"><%= result["count"] %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6 img-portfolio">
			<div class="contentsbox">
				<h3></h3>
					<%= pie_chart "/enforcements/reports?type=enfbymfr", {discrete: true, library: {chartArea:{left:0,top:10,width:"100%"}}} %>
			</div>
		</div>
	</div>
</div> <!-- .row -->