<div class="row">
	<div class="col-lg-12">
	   <h2>Highest Number of Enforcement Reports<br> by Manufacturer for the Year 2015</h2>
	</div>
	<div class="row">
		<div class="col-md-6 img-portfolio">
			<div class="contentsbox">
				<div class="boxer">
					<div class="box-row">
						<div class="box">Manufacturers </div>
						<div class="box">Location of Event </div>
						<div class="box">Total</div>
					</div>
				<% @enfEvents.each_with_index do |result, index| %>
					<div class="box-row1">
						<div class="box"><%= result["recall_initiation_date"] %></div>
						<div class="box"><%= result["recalling_firm"] %></div>
						<div class="box"><%= result["code_info"][0...10] %></div>
					</div>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6 img-portfolio">
			<div class="contentsbox">
				<h3>Manufacturers Name</h3>
				<%= pie_chart "/enforcements/devicereport?type=device", discrete: true %>
			</div>
		</div>
	</div>
</div> <!-- .row -->