<main class="content">
	<div class="slider">
		<ul class="slides">
			<li>
				<div class="container">                     
					<div class="slide-caption">
						
						<small class="slide-subtitle">Adverse Events & Enforcement Reports for Medical Devices</small>

						<div class="slide-summary">
							
						</div>
					</div>
				</div>
			</li>
		</ul> <!-- .slides -->
	</div> <!-- .slider -->

	
	<div class="fullwidth-block about-section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow fadeInUp">
				  <h2>Highest Enforcement Reports for the year 2015</h2>
				  <div class="boxer">
						<div class="box-row">
							<div class="box">Manufacturers </div>
							<div class="box">Location of Event </div>
							<div class="box">Total</div>
							
						</div>
						<div class="box-row1">
							<div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
							
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							<div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						
						 <div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						
						 <div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
						<div class="box-row1">
							 <div class="box"><a href="#">Lorem ipsum</a></div>
							<div class="box">Mclean VA</div>
							<div class="box">234000</div>
						</div>
					</div>

				   
				</div>

				<div class="col-md-6 wow fadeInUp">
					<h2>Manufacturers Name</h2>
					
					<img src="/assets/chart2.jpg" width="90%">

				</div>


			</div> <!-- .row -->

		</div> <!-- .container -->
	</div> <!-- .fullwidth-block -->
</main> <!-- .content -->